@model IEnumerable<InventoryManager.Models.Inventory>
@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<form>
    <input name="q" placeholder="Enter SKU or ItemName">
    <input type="submit" value="Search">
</form>

<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.QuantityWarningLevel)
            }
        </th>
        <th>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.QuantityRefill)
            }
        </th>
        <th>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.DisplayNameFor(model => model.QuantityBehavior)
            }
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @if (item.Quantity < item.QuantityWarningLevel)
                {
                    <p style="color: red">@item.Quantity</p>

                }
                else if (item.QuantityRefill < item.QuantityWarningLevel)
                {
                    <p style="color: orange">@item.Quantity</p>

                }
                else if (item.Quantity > item.QuantityWarningLevel)
                {
                    <p style="color: lawngreen">@item.Quantity</p>
                }

                else if (item.QuantityRefill > item.QuantityWarningLevel)
                {
                    < p style = "color: lawngreen" > @item.Quantity </ p >

                }
                else
                {
                    < p style = "color: lawngreen" > @item.Quantity </ p >
                }

            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.QuantityWarningLevel)
                }
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.QuantityRefill)
                }
            </td>
            <td>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.DisplayFor(modelItem => item.QuantityBehavior)
                }
            </td>

            <td>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                }
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                }
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
